<form action="/memos" method="POST" class="memo-form">
  <input type="text" name="title" placeholder="メモのタイトル（省略時は「無題」が入ります）" value="">
  <textarea name="body" placeholder="メモの内容"></textarea>
  <div class="button-area">
    <button type="button" onclick="history.back()" class="button-cancel">戻る</button>
    <button class="button-save" onclick="return confirm('この内容で保存しますか？')">保存</button>
  </div>
</form>
